body {
    background: #eee;
}

.masthead-banner {
    background: #0057b8;
    color: white;
    text-align: center;
}

.masthead-header {
    padding: 60px 0px 0px 0px;
    margin: 10px;
}

.masthead-message {
    padding-bottom: 40px;
}

.event {
    padding: 15px 0px;
    background: white;
    margin: 15px 0px;
}
.event h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p.compact {
    margin-bottom: 3px;
}